<div class="container" ng-controller="cartCtrl">
    <div class="container" ng-hide="listCart.length!=0" style="text-align: center;">
        <h3>Bạn Chưa có sản phẩm nào trong giỏ hàng .Nhanh tay mua đi nào !</h3>
        <span style="width: 50%; margin: 0 auto"><i style="font-size:25rem;" class='bx bxs-cart-download'></i></span>
    </div>
    <div class="container" style=" padding: 10px; ">

        <div class="media" ng-repeat="p in listCart"
            style="border-radius: 20px; padding: 10px; background-color: rgba(0, 0, 0, 0.1);width: 100%; margin-bottom: 10px;display: flex; justify-content: space-between; align-items: center;box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;">
            <input type="checkbox" ng-model="p.check">
            <img src="../img/Imgproduct/{{p.img}}" width="200px" style="margin-right: 20px;" alt="...">
            <div class="media-body">
                <h3 class="mt-0" style="font-weight: bold;">{{p.name}} </h3>
                <h6>Số lượng : {{p.quanity}}</h6>
                <h6>Màu : {{p.color}}</h6>
                <h6 style="color: Red;">{{ p.price * p.quanity | currency : ""}} </h6>
                <a href="#!detail/{{p}}" ><i class='bx bx-show-alt'></i>Xem chi tiết sản phẩm</a>
                

            </div>
            <div><span class="trash" ng-click="delete($index)"><i class='bx bxs-trash-alt'></i></span></div>
        </div>
    </div>
    <div class="container" style="margin-top: 10px; display: flex; justify-content: flex-end;">
        <a class="btn btn-dark" ng-click="ok()"  href="#!pay/{{sendBill()}}">Thanh Toán</a>
    </div>
   
</div>