<div class="container" style=" width: 80%; margin: 0 auto;">
    <h1 style="text-align: center;">Thông Tin Về Chúng Tôi </h1>
    <h2>Apple Technology Là gì</h2>
    <p>Apple Inc. là một tập đoàn công nghệ đa quốc gia của Mỹ có trụ sở chính tại Cupertino, California, chuyên thiết
        kế, phát triển và bán thiết bị điện tử tiêu dùng, phần mềm máy tính và các dịch vụ trực tuyến. Nó được coi là
        một trong Năm công ty lớn của ngành công nghệ thông tin Hoa Kỳ, cùng với Amazon, Google, Microsoft và
        Meta.[3][4][5] Các dòng sản phẩm phần cứng của hãng bao gồm điện thoại thông minh iPhone, máy tính bảng iPad,
        máy tính xách tay Macbook, máy tính cá nhân Mac, máy nghe nhạc di động iPod, đồng hồ thông minh Apple Watch, máy
        phát đa phương tiện kỹ thuật số Apple TV, tai nghe không dây AirPods, tai nghe AirPods Max và loa thông minh
        HomePod. Phần mềm của Apple bao gồm hệ điều hành macOS, iOS, iPadOS, watchOS và tvOS, trình phát đa phương tiện
        iTunes, trình duyệt web Safari, mã nhận dạng nhạc Shazam, gói làm việc năng suất và sáng tạo iLife và iWork,
        cũng như các ứng dụng chuyên nghiệp như Final Cut Pro, Logic Pro và Xcode. Các dịch vụ trực tuyến của nó bao gồm
        iTunes Store, iOS App Store, Mac App Store, Apple Arcade, Apple Music, Apple TV +, iMessage và iCloud. Các dịch
        vụ khác bao gồm Apple Store, Genius Bar, AppleCare, Apple Pay, Apple Pay Cash và Apple Card.</p>

    <h2>Phát Triển Và Hình Thành</h2>
    <p>Apple được Steve Jobs, Steve Wozniak và Ronald Wayne thành lập vào tháng 4 năm 1976 để phát triển và bán máy
        tính cá nhân Apple I của Wozniak, mặc dù Wayne đã bán lại cổ phần của mình trong vòng 12 ngày. Nó được hợp nhất
        thành Apple Computer, Inc., vào tháng 1 năm 1977, và doanh số bán máy tính của nó, bao gồm cả Apple I và Apple
        II, đã tăng nhanh chóng.[6]

        Jobs và Wozniak đã thuê một nhân viên thiết kế máy tính và có một dây chuyền sản xuất bắt đầu từ ga ra của Jobs.
        Apple ra mắt công chúng vào năm 1980 với thành công tài chính tức thì. Trong vài năm tiếp theo, Apple đã xuất
        xưởng những chiếc máy tính mới có giao diện người dùng đồ họa sáng tạo, chẳng hạn như Macintosh ban đầu vào năm
        1984 và các quảng cáo tiếp thị của Apple cho sản phẩm của mình đã nhận được sự hoan nghênh rộng rãi. Tuy nhiên,
        giá sản phẩm cao và thư viện ứng dụng hạn chế đã gây ra nhiều vấn đề, cũng như tranh giành quyền lực giữa các
        giám đốc điều hành. Năm 1985, Wozniak rời Apple một cách thân thiện và vẫn là một nhân viên danh dự,[7] trong
        khi Jobs từ chức để thành lập NeXT, dẫn theo một vài đồng nghiệp đi cùng.[8]</p>

    <h2>Lĩnh Vực Hoạt Động</h2>
    <p>Khi thị trường máy tính cá nhân mở rộng và phát triển trong suốt những năm 1990, Apple đã mất thị phần đáng kể
        vào tay sản phẩm độc quyền có giá thấp hơn của Microsoft Windows trên máy tính nhái Intel. Hội đồng quản trị đã
        tuyển dụng Giám đốc điều hành Gil Amelio với nỗ lực kéo dài 500 ngày để phục hồi công ty đang gặp khó khăn về
        tài chính — định hình lại công ty với việc sa thải, tái cấu trúc điều hành và tập trung vào sản phẩm. Ông đã dẫn
        dắt Apple mua NeXT vào năm 1997, giải quyết một chiến lược hệ điều hành thất bại và đưa Jobs trở lại.

        Jobs giành lại vị thế lãnh đạo, trở thành CEO vào năm 2000. Apple đã nhanh chóng trở lại có lãi nhờ chiến dịch
        Hồi sinh Think different, xây dựng lại vị thế của Apple bằng cách ra mắt iMac vào năm 1998, mở chuỗi cửa hàng
        bán lẻ Apple Store vào năm 2001 và mua lại nhiều công ty để mở rộng danh mục phần mềm. Công ty đã được đổi tên
        thành Apple Inc. vào năm 2007, phản ánh sự tập trung vào thiết bị điện tử tiêu dùng và tung ra iPhone để đạt
        được thành công về tài chính và sự hoan nghênh quan trọng. Vào tháng 8 năm 2011, Jobs từ chức Giám đốc điều hành
        do biến chứng sức khỏe và Tim Cook trở thành Giám đốc điều hành mới. Hai tháng sau, Jobs qua đời, đánh dấu sự
        kết thúc một kỷ nguyên của công ty. Vào tháng 6 năm 2019, Jony Ive, CDO của Apple, rời công ty để thành lập công
        ty riêng của mình, nhưng tuyên bố sẽ làm việc với Apple với tư cách là khách hàng chính.</p>

    <h2>Chứng Nhận</h2>
    <p>Tổng doanh thu hàng năm của Apple trên toàn thế giới đạt 274,5 USD tỷ cho năm tài chính 2020. Apple là công ty
        công nghệ lớn nhất thế giới theo doanh thu và là một trong những công ty giá trị nhất thế giới. Đây cũng là nhà
        sản xuất điện thoại di động lớn thứ ba thế giới sau Samsung và Huawei.[9][10] Vào tháng 8 năm 2018, Apple đã trở
        thành công ty Hoa Kỳ giao dịch công khai đầu tiên được định giá trên 1 đô la nghìn tỷ [11][12] và chỉ hai năm
        sau, vào tháng 8 năm 2020, trở thành công ty đầu tiên trị giá 2 nghìn tỷ đô la Mỹ.[13][14] Apple sử dụng 147.000
        nhân viên toàn thời gian và duy trì 510 cửa hàng bán lẻ tại 25 quốc gia Tính đến năm 2020.[15] Nó vận hành
        iTunes Store, là nhà bán lẻ âm nhạc lớn nhất thế giới. Tính đến tháng 1 năm 2020, hơn 1,5 tỷ sản phẩm của Apple
        đang được sử dụng tích cực trên toàn thế giới.[16] Công ty cũng có mức độ trung thành với thương hiệu cao và
        được xếp hạng là thương hiệu có giá trị nhất thế giới. Tuy nhiên, Apple nhận được nhiều lời chỉ trích liên quan
        đến hoạt động lao động của các nhà thầu, các hoạt động môi trường và các hoạt động kinh doanh phi đạo đức, bao
        gồm cả hành vi chống cạnh tranh, cũng như nguồn gốc của nguyên liệu gốc.</p>
    <div >
        <img src="https://applecenter.com.vn/uploads/image/images/1476584.jpg" width="100%" alt="">
    </div>
</div>