<div class="container" style="width: 80%; margin:  0 auto; ">
    <h4 style="text-align: center;">Câu Hỏi Của Bạn, Chúng Tôi Sẽ Giải Đáp Sớm Nhất ! </h4>
    <div class="form-group " style="margin:10px 0 20px 0;">
        <label for="inputPassword3" style="padding-left: 14px;" >Email Của Bạn ?</label>
        <div class="col-sm-12">
          <input type="email" class="form-control"  required >
          
        </div>
    </div>
    <div class="form-group "tyle="margin:10px 0 20px 0;">
        <div class="col-sm-12">
            <textarea class="form-control "  cols="30" rows="10"
                required></textarea>
        </div>
        <button class="btn btn-dark" style="margin: 14px;">Gửi Chúng Tôi</button>
    </div>
    <h6>Cảm ơn những phản hồi và góp ý của bạn, Chúng tôi mong muốn đem lại cho bạn một trải nghiệm tuyệt vời nhất!</h6>
    <div>
        <img src="https://images.baoquangnam.vn/Storage/NewsPortal/2021/7/17/114683/41336-80186-000-Lead.jpeg" style="width: 100%; border-radius: 20px;" alt="">
    </div>
</div>